<section class="hero custom-wrapper">
  <div class="content">
    <div class="hero-desc">
      <div style="text-align: justify;">
        <h1>DÉCLARATION RELATIVE AUX COOKIES</h1>
        <p>
          Cette déclaration relative aux Cookie explique comment Evenafro (<b
            >« Evenafro »</b
          >, <b>« nous »</b> <b>« nos »</b> ou <b>« notre »</b>) utilise des
          Cookies et d'autres technologies similaires pour vous reconnaître
          lorsque vous consultez notre site ou application (<b>« Sites web »</b>)
          et dans le cadre de l'utilisation de l'un de nos services. Elle explique
          quelles sont ces technologies et pourquoi nous les utilisons, ainsi que
          vos droits à contrôler notre utilisation de celles-ci. Tous les termes
          en majuscules qui ne sont pas également définis dans cette Déclaration
          relative aux Cookies sont définis dans nos Conditions générales du
          Service.
        </p>
  
        <br>
        <br>
        <h2>Que sont les cookies ?</h2>
  
        <p>
          Les cookies sont des petits fichiers de données qui sont placés sur
          votre ordinateur ou votre appareil mobile lorsque vous visitez un site
          web. Le terme
          <b>« cookie »</b> est utilisé dans la présente Déclaration relative aux
          cookies au sens large pour inclure les cookies et toutes les techniques
          et technologies similaires, y compris les balises web. Les balises web
          (parfois appelées <b>« pixels espions »</b> ou
          <b>« GIF invisibles »</b>) sont de petits fichiers graphiques qui
          contiennent un identifiant unique qui nous permet de reconnaître quand
          un individu a visité nos Propriétés en ligne ou a entrepris des actions
          sur nos Propriétés en ligne. <br />
  
          Les cookies sont largement utilisés par les propriétaires de sites web
          pour faire fonctionner leur site web, ou pour travailler plus
          efficacement, mais aussi pour fournir des informations destinées aux
          rapports. <br />
  
          Les cookies créés par le propriétaire du site web (dans le cas présent
          Evenafro) sont appelés <b>« cookies internes »</b>. Les cookies créés
          par des tiers autres que le propriétaire du site web sont appelés
          <b>« cookies tiers »</b>. Les cookies tiers permettent de fournir des
          caractéristiques ou des fonctionnalités de tiers sur le site web ou par
          son intermédiaire (ex. : publicité, contenu interactif, analyses). Les
          entités qui définissent ces cookies tiers peuvent reconnaître votre
          ordinateur à la fois lorsqu'il visite le site web en question et
          lorsqu'il visite certains autres sites web. Pour en savoir plus sur les
          cookies, consultez le site allaboutcookies.org.<br />
        </p>
  
        <br>
        <br>
        <h2>Pourquoi utilisons-nous des cookies ?</h2>
        <p>
          Evenafro utilise des cookies internes et tiers pour diverses raisons.
          Certains cookies sont nécessaires pour des raisons techniques afin de
          faire fonctionner notre Site Web, et nous nous référons à ces derniers
          comme étant des cookies
          <b>« essentiels »</b> ou <b>« strictement nécessaires »</b>. D'autres
          cookies nous permettent de mieux comprendre la manière dont vous
          utilisez nos Propriétés en ligne, de suivre et de cibler les centres
          d'intérêt de nos utilisateurs et d'améliorer l'expérience des
          utilisateurs sur notre plateforme en ligne. Les tiers diffusent des
          cookies par le biais de notre plateforme en ligne à des fins
          publicitaires, analytiques et autres. Les organisateurs peuvent
          également utiliser des cookies sur notre plateforme en ligne pour en
          savoir plus sur vos centres d'intérêt pour leurs événements. Ces
          processus sont décrits plus en détail ci-dessous.
        </p>
  
        <br>
        <br>
        <h2>Types de cookies que nous utilisons</h2>
        <br>
        <h3>Cookies Internes</h3>
        <p>
          Ces cookies sont créés par Evenafro. Ils servent avant tout à vous
          permettre de naviguer sur notre plateforme en ligne et d'utiliser ses
          fonctionnalités. Ils peuvent également nous aider dans nos activités
          d'analyse. Ces témoins sont susceptibles d'utiliser des données non
          personnelles (ex. : des informations agrégées ou dépersonnalisées sur
          votre utilisation de la plateforme en ligne) ou des renseignements qui
          identifient de manière unique le navigateur ou l'appareil que vous
          utilisez pour accéder à la plateforme en ligne.
        </p>
  
        <br>
        <h3>Cookies tiers</h3>
        <p>
          En plus des cookies internes que nous utilisons, certaines sociétés
          tierces peuvent placer des cookies sur votre ordinateur par l'entremise
          de notre plateforme en ligne, accéder à ces cookies et leur associer des
          balises web. Ces cookies permettent de fournir des caractéristiques ou
          des fonctionnalités tierces sur notre plateforme en ligne ou par leur
          entremise. Les entités qui définissent ces cookies tiers peuvent les
          utiliser pour reconnaître votre appareil lorsqu'il visite notre
          plateforme en ligne.
        </p>
  
        <h4>Types de cookies internes et tiers que nous utilisons</h4>
  
        <p>
          Les types de cookie internes et tiers que nous utilisons sur notre
          plateforme en ligne sont détaillés ci-dessous. Ces cookies sont
          susceptibles d'utiliser des données non personnelles (ex. : des
          informations agrégées ou dépersonnalisées sur votre utilisation de la
          plateforme en ligne) ou des renseignements qui identifient de manière
          unique le navigateur ou l'appareil que vous utilisez pour accéder à la
          plateforme en ligne. Cookies essentiels : ces cookies sont strictement
          nécessaires pour vous permettre d'accéder à nos services ou à notre
          plateforme en ligne et d'en faire une utilisation de base, comme l'accès
          à des zones sécurisées et le réglage de vos préférences en matière de
          confidentialité. Il est impossible de désactiver ces cookies. Cookies de
          performance et de fonctionnement : ces cookies servent à améliorer les
          performances et l'état de fonctionnement de notre plateforme en ligne,
          mais ne sont pas nécessaires à leur utilisation. Cependant, sans eux,
          certaines fonctionnalités de la plateforme en ligne peuvent être
          limitées ou indisponibles. Cookies d'analyse et de personnalisation :
          ces cookies nous aident à comprendre la manière dont notre plateforme en
          ligne est utilisée ou l'efficacité de nos campagnes de marketing ou,
          encore, à personnaliser notre site pour vous. Grâce à ces données, nous
          améliorons les fonctionnalités proposées par notre plateforme. Cookies
          de ciblage : ces cookies servent à mieux adapter les messages
          publicitaires à vos besoins. Ils permettent notamment d'éviter que la
          même publicité ne réapparaisse continuellement, de s'assurer que les
          publicités s'affichent correctement pour les annonceurs et, dans
          certains cas, de sélectionner des publicités en fonction de vos centres
          d'intérêt. Cookies de réseaux sociaux : ces cookies sont utilisés pour
          vous permettre de partager les pages et le contenu que vous trouvez
          intéressants sur notre plateforme en ligne par l'entremise de réseaux
          sociaux tiers et d'autres sites web. Ces cookies peuvent également être
          utilisés à des fins publicitaires. Cookies des organisateurs : les
          organisateurs qui vendent des billets pour des événements peuvent
          utiliser divers cookies sur notre plateforme, notamment des cookies
          d'analyse et de personnalisation, des cookies publicitaires et des
          cookies de réseaux sociaux. Ces cookies peuvent leur servir à offrir des
          publicités pertinentes sur des biens et services susceptibles de vous
          intéresser et à mesurer l'efficacité des publicités et des campagnes de
          marketing. Veuillez noter qu'Evenafro n'a pas accès aux cookies que les
          organisateurs ont choisi d'utiliser et ne les contrôle pas. Pour en
          savoir plus sur la manière d'autoriser ou de refuser ces différents
          types de cookies, veuillez consulter la section
          <b>« Gestion des cookies »</b> ci-dessous.
        </p>
  
        <br>
        <h3>Durée des cookies enregistrés sur votre appareil</h3>
        <p>
          La durée de stockage des cookies sur un appareil peut varier en fonction
          de la catégorie à laquelle ils appartiennent : temporaire ou
          permanente.<br />
        </p>
  
        <br>
        <h3>Cookies temporaires</h3>
  
        <p>
          Nous utilisons des cookies temporaires sur notre plateforme en ligne
          pour vous permettre de les consulter sans interruption. Il nous arrive
          aussi d'utiliser des cookies temporaires à des fins de rapports
          internes. Après la fin de votre session de consultation, ce type de
          cookie ne conserve aucune donnée sur votre disque dur.
        </p>
  
        <br>
        <h3>Cookies permanents</h3>
  
        <p>
          Certains de nos cookies analytiques internes et certains cookies tiers
          sont des cookies permanents. Ils nous permettent, ainsi qu'à des tiers,
          de comprendre le comportement de navigation des visiteurs sur une plus
          longue période et de vous fournir des fonctionnalités supplémentaires
          liées à votre utilisation de la plateforme ou au contenu que vous avez
          enregistré ou stocké par leur intermédiaire. Ils servent aussi à des
          fins de publicité et de marketing. Selon leur fonction, ces cookies
          peuvent rester plus ou moins longtemps, de quelques heures à une
          semaine, voire plusieurs années. Ce type de cookie reste en place même
          après la clôture de la session. Il pourra être utilisé par notre
          plateforme en ligne ou par des tiers pour reconnaître votre appareil
          lorsque vous amorcerez une nouvelle session.
        </p>
  
        <br>
        <br>
        <h2>Gestion des cookies</h2>
  
        <p>
          Si vous souhaitez modifier vos préférences en matière de cookies,
          veuillez suivre les instructions ci-dessous.<br />
  
          <b>Tous les cookies :</b> vous pouvez choisir d'accepter ou pas certains
          cookies en gérant les cookies à l'aide des paramètres de votre
          navigateur web. Étant donné que les moyens d'autoriser ou de refuser les
          cookies à l'aide des paramètres du navigateur varient d'un navigateur
          web à l'autre (ex. : Chrome, Safari ou Firefox), nous vous invitons à
          consulter le menu d'aide de votre navigateur web pour obtenir de plus
          amples informations sur la manière de définir vos préférences en matière
          de cookies. Vous pouvez également configurer votre navigateur à tout
          moment pour être informé de la réception d'un cookie, afin de pouvoir
          décider si vous souhaitez l'accepter ou non.<br />
  
          Les cookies ne lisent pas d'autres données sur votre disque dur, et vous
          pouvez les supprimer de votre ordinateur à tout moment à l'aide des
          fonctions des touches du navigateur. À l'heure actuelle, il est
          techniquement impossible de synchroniser les paramètres entre les
          navigateurs et les appareils (votre ordinateur ou votre téléphone
          intelligent). Vous devez les définir sur chaque navigateur ou appareil
          que vous utilisez et chaque fois que vous utilisez un nouveau navigateur
          ou appareil. Veuillez prendre note que si vous choisissez de ne pas
          autoriser ou de désactiver tous les cookies, ce choix s'appliquera à
          tous les types de cookies et influencera le fonctionnement de notre
          plateforme en ligne. Cette décision pourrait faire en sorte que vous ne
          puissiez pas utiliser toutes les fonctionnalités du Site ou de
          l'Application, et dans certains cas, que la Propriété d'Evenafro ne
          fonctionne tout simplement pas.<br />
  
          Cookies d'analyse : pour désactiver tous les cookies d'analyse gérés par
          nos partenaires d'analyse externes, veuillez utiliser les mécanismes de
          désactivation du navigateur précisés immédiatement ci-dessus. Vous
          pouvez également utiliser les mécanismes de désactivation suivants,
          fournis par plusieurs de notre fournisseur de services d'analyse :
          Module pour la désactivation de Google Analytics.<br />
  
          Cookies de ciblage : pour en savoir plus sur la publicité personnalisée
          par navigateur et sur la manière dont vous pouvez généralement empêcher
          que des cookies soient placés sur votre ordinateur pour diffuser des
          publicités personnalisées, vous pouvez consulter le lien Consumer
          Opt-Out de la Network Advertising Initiative, le lien Consumer Opt-Out
          de la Digital Advertising Alliance ou Your Online Choices pour refuser
          de recevoir des publicités personnalisées de la part des sociétés
          participant à ces programmes. Pour désactiver Google Analytics pour la
          publicité par affichage ou personnaliser les annonces du réseau
          d'affichage Google, consultez la page Paramètres des annonces Google. Si
          vous n'autorisez pas ces cookies, vous continuerez à voir des publicités
          en ligne, mais celles-ci ne seront peut-être pas adaptées à vos centres
          d'intérêt.<br />
  
          Vous pouvez également désactiver les témoins publicitaires en utilisant
          les contrôles du navigateur expliqués dans la section Tous les témoins
          ci-dessus.<br />
        </p>
        <br>
        <h3>
          À quelle fréquence allez-vous mettre à jour cette Déclaration relative
          aux cookies ?
        </h3>
        <p>
          Nous actualiserons la présente Déclaration relative aux cookies de temps
          en temps pour refléter par exemple, les modifications effectuées sur les
          témoins que nous utilisons ou pour toute autre raison opérationnelle,
          légale ou réglementaire. Veuillez, par conséquent, consulter
          régulièrement la présente Déclaration relative aux cookies pour rester
          informé sur notre utilisation des cookies et des technologies associées.
          La date située en haut de la présente Déclaration relative aux cookies
          indique la dernière fois qu'elle a été mise à jour.<br />
        </p>
  
        <br>
        <h3>Où puis-je obtenir plus d'informations ?</h3>
  
        <p>
          Si vous avez des questions sur notre utilisation des cookies ou sur les
          technologies associées, veuillez nous envoyer un e-mail à
          ______________________<br />
  
          REMARQUE : pour obtenir plus de renseignements sur les mentions légales
          d'Evenafro, cliquez ici. Pour en savoir plus sur les pratiques
          d'Evenafro en matière de confidentialité, consultez notre Politique de
          confidentialité complète ici.<br />
        </p>
  
      </div>
    </div>
  </div>
</section>
<br><br>
<br><br>
<br><br>
<br><br>

<script src="/js/send-email.js"></script>
