<section class="hero custom-wrapper">
  <div class="content">
    <div class="hero-desc">
      <h1>
        EVENAFRO : QUELQUE CHOSE
        <span class="blue"
          >SE PREPARE.</span
        >
        RESTEZ <span class="bold-black"
          >CONNECTÉS.</span
        >
      </h1>
      <!-- <div class="links">
        <div class="btn-1">
          <a href="">Lancez-vous maintenant </a>
        </div>
        <div class="btn-2">
          <a href=""
            ><img src="/images/android.png" alt="android" />&nbsp;Download for
            android
          </a>
        </div>
        <a href=""></a>
      </div> -->
    </div>
    <!-- <div class="hero-img">
      <img src="/images/hero-image.png" alt="Hero image" />
    </div> -->
  </div>
  <!-- <div class="stats">
    <div>
      <h4>7800+</h4>
      <p>Téléchargements</p>
    </div>
    <div>
      <h4>500k+</h4>
      <p>Utilisateurs</p>
    </div>
    <div>
      <h4>65k+</h4>
      <p>Annonces</p>
    </div>
  </div> -->
</section>

<!-- <section class="mindset custom-wrapper">
  <div class="mindset-desc">
    <div class="heading">
      <span>EVENAFRO, une application de géolocalisation en temps réel.</span>
    </div>
    <p>Expérience immersive et culturellement riche garantie !</p>
    <p>
      Créez une connexion authentique et enrichissante avec une diversité
      ethno-culturelle passionnante. Découvrez des expériences uniques,
      engageantes et culturellement riches grâce à cette application
      révolutionnaire. Connectez-vous avec la communauté Afrodescendante et
      découvrez des opportunités d'épanouissement culturel.
    </p>
    <p>
      Téléchargez dès maintenant cette application pour une immersion totale
      dans un univers fascinant.
    </p>
  </div>
  <div class="mindset-image">
    <img src="/images/mindset.png" alt="mindset-image" />
  </div>
</section>

<section class="features">
  <div class="feature-item feature-item-1">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à vos besoins</span>
        </div>
        <h1>
          Les événements disponibles sur EVENAFRO, il y en a pour tous les goûts
          et toutes les envies !
        </h1>
        <p>
          Fêtes , divertissements, culture et arts, musiques et livres,
          réseautages et conférences, promotions et rabais, inaugurations,
          lancements et services professionnels. Ne manquez pas les événements
          qui vous feront vibrer ! <br /><br />
          Que ce soit aujourd'hui, ce week-end ou à tout moment, EVENAFRO vous
          propose une sélection d'événements à ne pas manquer. <br /><br />
        </p>
        <div class="btn">
          <a href="">Lancez-vous</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-1.png" alt="feature-1" />
    </div>
  </div>
  <div class="feature-item feature-item-2 reversed">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à votre identité</span>
        </div>
        <h1>Pour tout le monde !</h1>
        <p>
          Ce n'est pas tout ! vous pouvez faire des dons pour aider votre
          communauté dans la section Donations du moments. <br /><br />

          Que vous soyez vous-même un entrepreneur immigrant en herbe ou
          simplement en quête d'inspiration, la section Inspirations du moment
          vous encourage à croire en vos capacités et à persévérer malgré les
          défis.
        </p>
        <div class="btn">
          <a href="">Lancez-vous</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-2.png" alt="feature-1" />
    </div>
  </div>
  <div class="feature-item feature-item-3">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à vos aspirations</span>
        </div>
        <h1>Et pour toutes les aspirations !</h1>
        <p>
          Téléchargez maintenant l'application EVENAFRO pour vous laisser guider
          par ces modèles de réussite et vous motiver à réaliser vos propres
          aspirations entrepreneuriales.
        </p>
        <div class="btn">
          <a href="">Lancez-vous</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-1.png" alt="feature-1" />
    </div>
  </div>
</section> -->

<section class="downloads">
  <div class="miniature miniature-1">
    <img class="small" src="/images/miniature-1.png" alt="" />
    <img class="large" src="/images/miniature-1-1.png" alt="" />
  </div>
  <div class="miniature miniature-2">
    <img class="small" src="/images/miniature-2.png" alt="" />
    <img class="large" src="/images/miniature-2-1.png" alt="" />
  </div>
  <div class="miniature miniature-3">
    <img class="small" src="/images/miniature-3.png" alt="" />
    <img class="large" src="/images/miniature-3-1.png" alt="" />
  </div>
  <div class="miniature miniature-4">
    <img class="small" src="/images/miniature-4.png" alt="" />
    <img class="large" src="/images/miniature-4-1.png" alt="" />
  </div>
  <div class="miniature miniature-5">
    <img class="small" src="/images/miniature-5.png" alt="" />
    <img class="large" src="/images/miniature-5-1.png" alt="" />
  </div>
  <div class="miniature miniature-6">
    <img class="small" src="/images/miniature-6.png" alt="" />
    <img class="large" src="/images/miniature-6-1.png" alt="" />
  </div>
  <div class="miniature miniature-7">
    <img class="small" src="/images/miniature-7.png" alt="" />
    <img class="large" src="/images/miniature-7-1.png" alt="" />
  </div>
  <div class="content custom-wrapper">
    <div class="heading">
      <span>Et vous ?</span>
    </div>
    <div class="content-desc">
      <h1>Qu'attendez-vous ?</h1>
      <p>
        Ne perdez plus de temps et rejoignez-nous pour vivre l'émotion que vous méritez.
      </p>
    </div>
    <div class="content-footer">
      <div class="btn google-play">
        <div>
          <img src="/images/google-play.png" alt="Google Play" />
        </div>
        <div>
          <p class="upper-text">Obtenez l'application sur</p>
          <p class="lower-text">Google Play</p>
        </div>
      </div>
      <div class="btn app-store">
        <div>
          <img src="/images/app-store.png" alt="App Store" />
        </div>
        <div>
          <p class="upper-text">Téléchargez l'application sur</p>
          <p class="lower-text">App Store</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form" id="form">
  <div class="form-content custom-wrapper">
    <div class="heading">
      <h1>Ensemble, faisons briller votre marque</h1>
    </div>
    <div>
      <form action="">
        <div class="input-group">
          <label for="">Prénom</label>
          <input type="text" placeholder="" class="form-control" />
        </div>
        <div class="input-group">
          <label for="">Nom</label>
          <input type="text" placeholder="" class="form-control" />
        </div>
        <div class="input-group">
          <label for="">Adresse Email</label>
          <input type="email" placeholder="" class="form-control" />
        </div>
        <div class="input-group phone-control">
          <label for="">Téléphone</label>
          <input type="tel" placeholder="" class="form-control" />
          <div class="phone-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="">Message</label>
          <textarea placeholder="" class="form-control" cols="20"></textarea>
        </div>
        <div class="input-group">
          <input type="submit" value="Envoyer" class="submit-btn" />
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <img src="/images/map.png" alt="" />
  </div>
</section>
