<link rel="stylesheet" href="/css/steps.css" />

<section class="hero">
  <div class="content-hero">
    <h1>COMMENT EVENAFRO MARCHE ?</h1>

    <div class="steps">
      <div class="step">
        <h5>Création de compte</h5>
        <img src="/images/register.png" alt="" />
      </div>
      <div class="step">
        <h5>Authentification</h5>
        <img src="/images/login.png" alt="" />
      </div>
      <div class="step">
        <h5>Page d'accueil</h5>
        <img src="/images/nearby.png" alt="" />
      </div>
      <div class="step">
        <h5>Recherche d'événements</h5>
        <img src="/images/map-app.png" alt="" />
      </div>
      <div class="step">
        <h5>Accédez au Dashboard</h5>
        <img src="/images/dashboard.png" alt="" />
      </div>
      <div class="step">
        <h5>Planifiez un événement</h5>
        <img src="/images/plan-event.png" alt="" />
      </div>
      <div class="step">
        <h5>Historique des événements</h5>
        <img src="/images/events.png" alt="" />
      </div>
      <div class="step">
        <h5>Demandez une bannière</h5>
        <img src="/images/banner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="downloads">
  <div class="miniature miniature-1">
    <img class="small" src="/images/miniature-1.png" alt="" />
    <img class="large" src="/images/miniature-1-1.png" alt="" />
  </div>
  <div class="miniature miniature-2">
    <img class="small" src="/images/miniature-2.png" alt="" />
    <img class="large" src="/images/miniature-2-1.png" alt="" />
  </div>
  <div class="miniature miniature-3">
    <img class="small" src="/images/miniature-3.png" alt="" />
    <img class="large" src="/images/miniature-3-1.png" alt="" />
  </div>
  <div class="miniature miniature-4">
    <img class="small" src="/images/miniature-4.png" alt="" />
    <img class="large" src="/images/miniature-4-1.png" alt="" />
  </div>
  <div class="miniature miniature-5">
    <img class="small" src="/images/miniature-5.png" alt="" />
    <img class="large" src="/images/miniature-5-1.png" alt="" />
  </div>
  <div class="miniature miniature-6">
    <img class="small" src="/images/miniature-6.png" alt="" />
    <img class="large" src="/images/miniature-6-1.png" alt="" />
  </div>
  <div class="miniature miniature-7">
    <img class="small" src="/images/miniature-7.png" alt="" />
    <img class="large" src="/images/miniature-7-1.png" alt="" />
  </div>
  <div class="content custom-wrapper">
    <div class="heading">
      <span>Et vous ?</span>
    </div>
    <div class="content-desc">
      <h1>Qu'attendez-vous ?</h1>
      <p>
        Ne perdez plus de temps et rejoignez-nous pour vivre l'émotion que vous
        méritez.
      </p>
    </div>
    <div class="content-footer">
      <a
        href="https://play.google.com/store/apps/details?id=com.evenafro.evenafro&pcampaignid=web_share"
        class="link-app"
        target="_blank"
      >
        <div class="btn google-play">
          <div>
            <img src="/images/google-play.png" alt="Play Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez sur</p>
            <p class="lower-text">Play Store</p>
          </div>
        </div>
      </a>
      <a
        href="https://apps.apple.com/ca/app/evenafro/id6468658246"
        class="link-app"
        target="_blank"
      >
        <div class="btn app-store">
          <div>
            <img src="/images/app-store.png" alt="App Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez l'application sur</p>
            <p class="lower-text">App Store</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="form" id="form">
  <div class="form-content custom-wrapper">
    <div class="heading">
      <h4>
        ENSEMBLE FAISONS LA PROMOTION DE VOTRE IMAGE.
        <br />
        Des questions ? Contactez-nous!
      </h4>
    </div>
    <div>
      <form id="contactForm">
        <div class="input-group">
          <label for="">Prénom</label>
          <input
            type="text"
            placeholder=""
            name="firstName"
            id="firstName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Nom</label>
          <input
            type="text"
            placeholder=""
            name="lastName"
            id="lastName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Adresse Email</label>
          <input
            type="email"
            placeholder=""
            name="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="input-group phone-control">
          <label for="">Téléphone</label>
          <input
            type="tel"
            placeholder=""
            name="phone"
            id="phone"
            class="form-control"
          />
          <div class="phone-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="">Message</label>
          <textarea
            placeholder=""
            class="form-control"
            name="message"
            id="message"
            cols="20"
          ></textarea>
        </div>
        <div class="input-group">
          <input
            type="submit"
            value="Envoyer"
            id="sendBtn"
            class="submit-btn button"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <img src="/images/map.png" alt="" />
  </div>
</section>

<script src="/js/send-email.js"></script>
