<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EvenAfro</title>

    <!-- Google font SORA -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/cookies.css" />

    <!-- JQUERY -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <%- body %>
    <footer class="custom-wrapper">
      <div class="logo">
        <img src="/images/logo-white.png" alt="LOGO EVENAFRO FOOTER" />
      </div>
      <div class="content">
        <div class="socials">
          <a
            href="https://www.facebook.com/profile.php?id=100095264618238"
            target="_blank"
            ><i class="fa-brands fa-2xl fa-facebook" style="color: #ffffff"></i
          ></a>
          <a href=""
            ><i class="fa-brands fa-2xl fa-twitter" style="color: #ffffff"></i
          ></a>
          <a href=""
            ><i class="fa-brands fa-2xl fa-linkedin" style="color: #ffffff"></i
          ></a>
        </div>
        <h1>Commençons quelque chose de génial</h1>
        <p class="">
          Rejoignez plus de 4,000+ annonceurs travaillant déjà avec EVENAFRO.
        </p>
        <div class="content-footer">
          <a
            href="https://play.google.com/store/apps/details?id=com.evenafro.evenafro&pcampaignid=web_share"
            class="link-app"
            target="_blank"
          >
            <div class="btn google-play">
              <div>
                <img src="/images/google-play.png" alt="Play Store" />
              </div>
              <div>
                <p class="upper-text">Téléchargez sur</p>
                <p class="lower-text">Play Store</p>
              </div>
            </div>
          </a>
          <a
            href="https://apps.apple.com/ca/app/evenafro/id6468658246"
            class="link-app"
            target="_blank"
          >
            <div class="btn app-store">
              <div>
                <img src="/images/app-store.png" alt="App Store" />
              </div>
              <div>
                <p class="upper-text">Téléchargez l'application sur</p>
                <p class="lower-text">App Store</p>
              </div>
            </div>
          </a>
        </div>
        <hr />
        <div class="copyrights">
          <div class="content">
            <span
              >© 2023 EVENAFRO. Tous droits réservés. <br />
              Propulsé par
              <a
                href="https://www.mentalists.ca/"
                target="_blank"
                style="text-decoration: none; color: #0ac6ff"
                >Mentalists</a
              ></span
            >
          </div>
          <div class="legal">
            <a href="/policies">Confidentialité et politiques d'utilisation</a>
            <a href="/cookies">Cookies</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="cookies-alert dismiss" id="cookies">
      <div class="part_1">
        <img src="/images/cookie.png" alt="" />
        <p>
          Ce site utilise des cookies pour améliorer votre expérience.
          Acceptez-vous l'utilisation des cookies?
        </p>
        <p><a href="/cookies">Politiques sur les cookies</a></p>
      </div>
      <div class="cookie-buttons">
        <button class="cookie-button accept" onclick="dismissCookiesPopUp()">
          Accepter
        </button>
        <button class="cookie-button reject" onclick="dismissCookiesPopUp()">
          Refuser
        </button>
      </div>
    </div>

    <!-- Menu -->
    <script src="/js/menu.js"></script>
    <script src="/js/cookies.js"></script>
  </body>
</html>
