<link rel="stylesheet" href="/css/index.css" />

<style></style>

<section class="hero">
  <div id="video-container">
    <header class="custom-wrapper">
      <div class="hamburger">
        <i class="fa-solid fa-bars" style="color: #ffffff"></i>
      </div>
      <div class="logo">
        <img src="/images/logo-ok.png" alt="EVENAFRO LOGO" />
      </div>
      <nav class="menu">
        <i class="fa-solid fa-2xl fa-xmark close" style="color: #ffffff"></i>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/how-it-works">Evenafro, Comment ça marche</a></li>
          <li><a href="/pricing">Nos Tarifs</a></li>
          <li><a href="#form">Contactez-nous</a></li>
        </ul>
      </nav>
      <div class="notifs">
        <i class="fa-solid fa-bell" style="color: #ffffff"></i>
      </div>
      <div class="language">
        <select name="lang" id="lang">
          <option value="french">Français</option>
          <option value="english">Anglais</option>
        </select>
      </div>
    </header>
    <video id="video-background" autoplay playsinline muted loop>
      <source src="/videos/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div id="rest">
      <div class="content">
        <div class="hero-desc">
          <h1>
            Saisissez l'instant avec Evenafro ! Ne ratez plus aucun événement
            local.
            <span class="blue">Découvrez, partagez, célébrez.</span>
            <span>Votre communauté, vos événements, votre application.</span>
          </h1>
          <p>
            Découvrez l'univers vibrant d'Evenafro : une application gratuite et
            conviviale pensée pour les communautés afrodescendantes, la
            communauté ethno-culturelle et toutes les communautés qui ont à cœur
            la diversité.
            <!-- Plongez dans une expérience unique -->
            <!-- où chaque événement à proximité est localisé en temps réel. -->
          </p>
          <!-- <div class="links">
              <div class="button btn-1 google-play">
              <div>
                <img src="/images/google-play.png" alt="Play Store" />
              </div>
              <div>
                <p class="upper-text">Téléchargez sur</p>
                <p class="lower-text">Play Store</p>
              </div>
            </div>
            <div class="button btn-2 app-store">
              <div>
                <img src="/images/app-store.png" alt="App Store" />
              </div>
              <div>
                <p class="upper-text">Téléchargez l'application sur</p>
                <p class="lower-text">App Store</p>
              </div>
            </div>
          </div> -->
          <div class="content-footer">
            <a
              href="https://play.google.com/store/apps/details?id=com.evenafro.evenafro&pcampaignid=web_share"
              class="link-app"
              target="_blank"
            >
              <div class="btn google-play">
                <div>
                  <img src="/images/google-play.png" alt="Play Store" />
                </div>
                <div>
                  <p class="upper-text">Téléchargez sur</p>
                  <p class="lower-text">Play Store</p>
                </div>
              </div>
            </a>
            <a
              href="https://apps.apple.com/ca/app/evenafro/id6468658246"
              class="link-app"
              target="_blank"
            >
              <div class="btn app-store">
                <div>
                  <img src="/images/app-store.png" alt="App Store" />
                </div>
                <div>
                  <p class="upper-text">Téléchargez l'application sur</p>
                  <p class="lower-text">App Store</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- <div class="hero-img">
      <img src="/images/hero-image.png" alt="Hero image" />
    </div> -->
      </div>
      <!-- <div class="stats">
        <div>
          <h4 id="telechargements">0</h4>
          <p>Téléchargements</p>
        </div>
        <div>
          <h4 id="utilisateurs">500k+</h4>
          <p>Utilisateurs</p>
        </div>
        <div>
          <h4 id="annonces">65k+</h4>
          <p>Annonces</p>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="mindset custom-wrapper">
  <div class="mindset-desc">
    <div class="heading">
      <span
        >Des événements selon vos envies, qui éveilleront toutes vos
        passions</span
      >
    </div>
    <p class="mindset-text">
      Fêtes locales, divertissements, culture et arts, musiques et livres,
      réseautages et conférences, promotions et rabais, inaugurations,
      lancements et services professionnels, Spectacles, Concerts, Karaokés,
      Expositions, Salons, Évènements sportifs, Gamer et jeux, Évènements pour
      enfants, Vide-greniers, Rifles et lotos, ; Festivals, Feux d'artifice,
      Danse et initiations, Soirées célibataires Et bien plus encore...
    </p>
    <p class="mindset-text">
      Téléchargez dès maintenant cette application pour une immersion totale
      dans un univers fascinant.
    </p>
  </div>
  <div class="mindset-image">
    <img src="/images/mindset.png" alt="mindset-image" />
  </div>
</section>

<section class="features">
  <div class="feature-item feature-item-1">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à vos besoins</span>
        </div>
        <h1>Connexion Communautaire culturelle, riche et immersive</h1>
        <p>
          Créez une connexion authentique, significative et enrichissante avec
          une diversité ethno-culturelle passionnante. Explorez des expériences
          uniques, engageantes et culturellement riches grâce à Evenafro.
          Connectez-vous avec la communauté Afrodescendante et découvrez des
          opportunités géniales pour enrichir votre vie culturelle. Venez vivre
          des moments inoubliables !
        </p>
        <div class="button btn">
          <a href="">Lancez-vous</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image" id="image-1">
      <img
        class="responsive-image fade-in"
        src="/images/feature-1.png"
        alt="feature-1"
      />
    </div>
  </div>
  <div class="feature-item feature-item-2 reversed">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à votre identité</span>
        </div>
        <h1>Nous avons pensé à tout</h1>
        <p>
          Vous avez la possibilité de faire un geste et de soutenir votre
          communauté dans la section Donations du moment. Que vous soyez un
          futur entrepreneur immigrant ou simplement en quête d'inspiration, la
          section Inspirations du moment vous pousse à croire en vous et à
          persévérer face aux défis. C'est votre moment.
        </p>
        <div class="button btn">
          <a href="">Réjoignez-nous</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image" id="image-2">
      <img
        class="responsive-image fade-in-reverse"
        src="/images/feature-2.png"
        alt="feature-2"
      />
    </div>
  </div>
  <div class="feature-item feature-item-3">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Un produit adapté à vos aspirations</span>
        </div>
        <h1>Et pour toutes les aspirations !</h1>
        <p>
          Téléchargez maintenant l'application EVENAFRO pour vous laisser guider
          par ces modèles de réussite et vous motiver à réaliser vos propres
          aspirations entrepreneuriales.
        </p>
        <div class="button btn">
          <a href="">Adhérez</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image" id="image-3">
      <img
        class="responsive-image fade-in"
        src="/images/feature-3.png"
        alt="feature-3"
      />
    </div>
  </div>
</section>

<section class="downloads">
  <div class="miniature miniature-1">
    <img class="small" src="/images/miniature-1.png" alt="" />
    <img class="large" src="/images/miniature-1-1.png" alt="" />
  </div>
  <div class="miniature miniature-2">
    <img class="small" src="/images/miniature-2.png" alt="" />
    <img class="large" src="/images/miniature-2-1.png" alt="" />
  </div>
  <div class="miniature miniature-3">
    <img class="small" src="/images/miniature-3.png" alt="" />
    <img class="large" src="/images/miniature-3-1.png" alt="" />
  </div>
  <div class="miniature miniature-4">
    <img class="small" src="/images/miniature-4.png" alt="" />
    <img class="large" src="/images/miniature-4-1.png" alt="" />
  </div>
  <div class="miniature miniature-5">
    <img class="small" src="/images/miniature-5.png" alt="" />
    <img class="large" src="/images/miniature-5-1.png" alt="" />
  </div>
  <div class="miniature miniature-6">
    <img class="small" src="/images/miniature-6.png" alt="" />
    <img class="large" src="/images/miniature-6-1.png" alt="" />
  </div>
  <div class="miniature miniature-7">
    <img class="small" src="/images/miniature-7.png" alt="" />
    <img class="large" src="/images/miniature-7-1.png" alt="" />
  </div>
  <div class="content custom-wrapper">
    <div class="heading">
      <span>Et vous ?</span>
    </div>
    <div class="content-desc">
      <h1>Qu'attendez-vous ?</h1>
      <p>
        Ne perdez plus de temps et rejoignez-nous pour vivre l'émotion que vous
        méritez.
      </p>
    </div>
    <div class="content-footer">
      <a
        href="https://play.google.com/store/apps/details?id=com.evenafro.evenafro&pcampaignid=web_share"
        class="link-app"
        target="_blank"
      >
        <div class="button btn google-play">
          <div>
            <img src="/images/google-play.png" alt="Play Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez sur</p>
            <p class="lower-text">Play Store</p>
          </div>
        </div>
      </a>
      <a
        href="https://apps.apple.com/ca/app/evenafro/id6468658246"
        class="link-app"
        target="_blank"
      >
        <div class="button btn app-store">
          <div>
            <img src="/images/app-store.png" alt="App Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez l'application sur</p>
            <p class="lower-text">App Store</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="form" id="form">
  <div class="form-content custom-wrapper">
    <div class="heading">
      <h4>
        ENSEMBLE FAISONS LA PROMOTION DE VOTRE IMAGE.
        <br />
        Des questions ? Contactez-nous!
      </h4>
    </div>
    <div>
      <form id="contactForm">
        <div class="input-group">
          <label for="">Prénom</label>
          <input
            type="text"
            placeholder=""
            name="firstName"
            id="firstName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Nom</label>
          <input
            type="text"
            placeholder=""
            name="lastName"
            id="lastName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Adresse Email</label>
          <input
            type="email"
            placeholder=""
            name="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="input-group phone-control">
          <label for="">Téléphone</label>
          <input
            type="tel"
            placeholder=""
            name="phone"
            id="phone"
            class="form-control"
          />
          <div class="phone-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="">Message</label>
          <textarea
            placeholder=""
            class="form-control"
            name="message"
            id="message"
            cols="20"
          ></textarea>
        </div>
        <div class="input-group">
          <input
            type="submit"
            value="Envoyer"
            id="sendBtn"
            class="submit-btn button"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <img src="/images/map.png" alt="" />
  </div>
</section>

<!-- <script src="/js/stats.js"></script> -->
<script src="/js/send-email.js"></script>
<script src="/js/images.js"></script>
