<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EvenAfro</title>

    <!-- Google font SORA -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="custom-wrapper">
      <div class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="logo">
        <img src="/images/logo.png" alt="EVENAFRO LOGO" />
      </div>
      <nav class="menu">
        <i class="fa-solid fa-2xl fa-xmark close" style="color: #ffffff"></i>
        <ul>
          <li><a href="">Accueil</a></li>
          <li><a href="">Comment ça marche</a></li>
          <li><a href="#form">Contactez-nous</a></li>
        </ul>
      </nav>
      <div class="notifs">
        <i class="fa-solid fa-bell"></i>
      </div>
      <div class="language">
        <select name="lang" id="lang">
          <option value="french">Français</option>
          <option value="english">Anglais</option>
        </select>
      </div>
    </header>
    <%- body %>
    <footer class="custom-wrapper">
      <div class="logo">
        <img src="/images/logo-footer.png" alt="LOGO EVENAFRO FOOTER" />
      </div>
      <div class="content">
        <h1>Commençons quelque chose de génial</h1>
        <p class="">
          Rejoignez plus de 4,000+ annonceurs travaillant déjà avec EVENAFRO.
        </p>
        <div class="content-footer">
          <div class="btn google-play">
            <div>
              <img src="/images/google-play.png" alt="Google Play" />
            </div>
            <div>
              <p class="upper-text">Obtenez l'application sur</p>
              <p class="lower-text">Google Play</p>
            </div>
          </div>
          <div class="btn app-store">
            <div>
              <img src="/images/app-store.png" alt="App Store" />
            </div>
            <div>
              <p class="upper-text">Téléchargez l'application sur</p>
              <p class="lower-text">App Store</p>
            </div>
          </div>
        </div>
        <hr />
        <div class="copyrights">
          <div class="content">
            <span>© 2023 EVENAFRO. Tous droits réservés.</span>
          </div>
          <div class="legal">
            <a href="">Termes</a>
            <a href="">Confidentialité</a>
            <a href="">Cookies</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Menu -->
    <script src="/js/menu.js"></script>
  </body>
</html>
