<link rel="stylesheet" href="/css/pricing.css" />
<!-- 
<section class="hero custom-wrapper">
  <div class="content">
    <div class="pricings">
      <div class="pricing-intro">
        <h1>Découvrez la Solution Adaptée à Votre Croissance</h1>

        <p>
          Bienvenue sur notre page de tarifs, conçue pour répondre à vos besoins
          spécifiques et propulser votre activité vers de nouveaux sommets.
          Chez Evenafro, nous comprenons que chaque entreprise
          est unique, c'est pourquoi nous proposons une gamme complète de plans
          tarifaires flexibles, adaptés à toutes les tailles d'entreprises, des
          startups ambitieuses aux grandes entreprises établies.
        </p>

        <p>
          Explorez nos différentes offres ci-dessous et découvrez comment Evenafro peut vous aider à atteindre vos objectifs
          commerciaux. Nous sommes là pour vous accompagner à chaque étape de
          votre croissance, car votre succès est notre priorité.
        </p>

        <p>
          Bienvenue dans le monde des possibilités. Choisissez Evenafro pour débloquer votre potentiel.
        </p>
      </div>
      <div class="pricing-content">
        <div class="pricing cheap">
          <div class="heading">
            <h1>EthnoExpo</h1>
          </div>
          <div class="pricing-content">
            <ul>
              <li>50$ / jour</li>
              <li>200$ / 1 semaine</li>
              <li>300$ / 2 semaines</li>
            </ul>
          </div>
        </div>
        <div class="pricing standard">
          <div class="heading">
            <h1>Culture Connect</h1>
          </div>
          <div class="pricing-content">
            <ul>
              <li>100$ / 1 semaine</li>
              <li>150$ / 2 semaines</li>
            </ul>
          </div>
        </div>
        <div class="pricing premium">
          <div class="heading">
            <h1>Spotlight Showcase</h1>
          </div>
          <div class="pricing-content">
            <ul>
              <li>75$ / jour</li>
              <li>300$ / 1 semaine</li>
              <li>500$ / 2 semaines</li>
            </ul>
          </div>
        </div>
        <div class="pricing business">
          <div class="heading">
            <h1>Enterprise</h1>
          </div>
          <div class="pricing-content">
            <p>Optez pour Evenafro et transformez votre vision en réalité.</p>

            <a href="#form" class="service">Service Client</a>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section> -->

<section class="pricing-header">
  <div class="hero-content">
    <div class="intro">
      <h1>Nos Tarifs</h1>
      <p>La solution adaptée à votre croissance</p>
    </div>
  </div>
</section>

<section class="pricings">
  <div class="pricing-intro">
    <h1>DÉCOUVREZ LA SOLUTION ADAPTÉE À VOTRE CROISSANCE</h1>

    <p>
      Bienvenue sur notre page de tarifs, conçue pour répondre à vos besoins
      spécifiques et propulser votre activité vers de nouveaux sommets. Chez
      Evenafro, nous comprenons que chaque entreprise est unique, c'est pourquoi
      nous proposons une gamme complète de plans
      <span class="blue"
        >tarifaires flexibles, adaptés à toutes les tailles d'entreprises</span
      >, des startups ambitieuses aux grandes entreprises établies.
    </p>

    <p>
      Explorez nos différentes offres ci-dessous et découvrez comment Evenafro
      peut vous aider à
      <span class="blue">atteindre vos objectifs commerciaux</span>. Nous sommes
      là pour vous accompagner à chaque étape de votre croissance, car
      <span class="blue">votre succès est notre priorité</span>.
    </p>

    <p>
      Bienvenue dans le monde des possibilités. Choisissez Evenafro pour
      débloquer votre potentiel
    </p>
  </div>

  <div class="discount">
    <!-- <img src="/images/discount.png" class="discount-image" alt="discount"> -->
  </div>

  <div class="pricing-content">
    <div class="pricing">
      <!-- <h1>ETHNOEXPO</h1> -->
      <h1>EXPO</h1>
      <img src="/images/pricing-1.png" alt="" />
      <ul>
        <li>50$ / jour</li>
        <li>200$ / 1 semaine</li>
        <li>300$ / 2 semaines</li>
      </ul>
    </div>
    <div class="pricing">
      <!-- <h1>CULTURE CONNECT</h1> -->
      <h1>CONNECT</h1>
      <img src="/images/pricing-2.png" alt="" />
      <ul>
        <li>100$ / 1 semaine</li>
        <li>150$ / 2 semaines</li>
      </ul>
    </div>
    <!-- <div class="pricing">
      <h1>SPOTLIGHT SHOWCASE</h1>
      <img src="/images/pricing-3.png" alt="" />
      <ul>
        <li>75$ / jour</li>
        <li>300$ / 1 semaine</li>
        <li>500$ / 2 semaines</li>
      </ul>
    </div> -->
    <div class="pricing enterprise">
      <h1>ENTERPRISE</h1>
      <p>Optez pour Evenafro et transformez votre vision en réalité.</p>

      <a href="#form">Service Client</a>
    </div>
  </div>
</section>

<section class="downloads">
  <div class="miniature miniature-1">
    <img class="small" src="/images/miniature-1.png" alt="" />
    <img class="large" src="/images/miniature-1-1.png" alt="" />
  </div>
  <div class="miniature miniature-2">
    <img class="small" src="/images/miniature-2.png" alt="" />
    <img class="large" src="/images/miniature-2-1.png" alt="" />
  </div>
  <div class="miniature miniature-3">
    <img class="small" src="/images/miniature-3.png" alt="" />
    <img class="large" src="/images/miniature-3-1.png" alt="" />
  </div>
  <div class="miniature miniature-4">
    <img class="small" src="/images/miniature-4.png" alt="" />
    <img class="large" src="/images/miniature-4-1.png" alt="" />
  </div>
  <div class="miniature miniature-5">
    <img class="small" src="/images/miniature-5.png" alt="" />
    <img class="large" src="/images/miniature-5-1.png" alt="" />
  </div>
  <div class="miniature miniature-6">
    <img class="small" src="/images/miniature-6.png" alt="" />
    <img class="large" src="/images/miniature-6-1.png" alt="" />
  </div>
  <div class="miniature miniature-7">
    <img class="small" src="/images/miniature-7.png" alt="" />
    <img class="large" src="/images/miniature-7-1.png" alt="" />
  </div>
  <div class="content custom-wrapper">
    <div class="heading">
      <span>Et vous ?</span>
    </div>
    <div class="content-desc">
      <h1>Qu'attendez-vous ?</h1>
      <p>
        Ne perdez plus de temps et rejoignez-nous pour vivre l'émotion que vous
        méritez.
      </p>
    </div>
    <div class="content-footer">
      <a
        href="https://play.google.com/store/apps/details?id=com.evenafro.evenafro&pcampaignid=web_share"
        class="link-app"
        target="_blank"
      >
        <div class="btn google-play">
          <div>
            <img src="/images/google-play.png" alt="Play Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez sur</p>
            <p class="lower-text">Play Store</p>
          </div>
        </div></a
      >
      <a
        href="https://apps.apple.com/ca/app/evenafro/id6468658246"
        class="link-app"
        target="_blank"
      >
        <div class="btn app-store">
          <div>
            <img src="/images/app-store.png" alt="App Store" />
          </div>
          <div>
            <p class="upper-text">Téléchargez l'application sur</p>
            <p class="lower-text">App Store</p>
          </div>
        </div></a
      >
    </div>
  </div>
</section>
<section class="form" id="form">
  <div class="form-content custom-wrapper">
    <div class="heading">
      <h4>
        ENSEMBLE FAISONS LA PROMOTION DE VOTRE IMAGE.
        <br />
        Des questions ? Contactez-nous!
      </h4>
    </div>
    <div>
      <form id="contactForm">
        <div class="input-group">
          <label for="">Prénom</label>
          <input
            type="text"
            placeholder=""
            name="firstName"
            id="firstName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Nom</label>
          <input
            type="text"
            placeholder=""
            name="lastName"
            id="lastName"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <label for="">Adresse Email</label>
          <input
            type="email"
            placeholder=""
            name="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="input-group phone-control">
          <label for="">Téléphone</label>
          <input
            type="tel"
            placeholder=""
            name="phone"
            id="phone"
            class="form-control"
          />
          <div class="phone-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="">Message</label>
          <textarea
            placeholder=""
            class="form-control"
            name="message"
            id="message"
            cols="20"
          ></textarea>
        </div>
        <div class="input-group">
          <input
            type="submit"
            value="Envoyer"
            id="sendBtn"
            class="submit-btn button"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <img src="/images/map.png" alt="" />
  </div>
</section>

<script src="/js/send-email.js"></script>
