* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora";
  overflow-x: hidden;
}

.custom-wrapper {
  padding: 0 2em;
}

.button {
  cursor: pointer;
}

header {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .language {
    display: none;
  }

  .link-app {
    text-decoration: none;
  }

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 75%;
    transition: 0.5s ease-in-out;
    transform: translateX(-102%);
    height: 100vh;
    background: #0ac6ff;

    i {
      position: fixed;
      right: 10%;
      top: 4%;
    }

    ul {
      margin: 5em 1em;
      display: flex;
      flex-direction: column;

      li {
        list-style: none;

        &:hover {
          background: #0ac6ff67;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          padding: 0.75em 1em;
          display: block;
        }
      }
    }
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    // #007acc
    h1 {
      line-height: 1.6;
      font-size: medium;
      text-transform: uppercase;
      .blue {
        color: #0ac6ff;
      }

      .bold-black {
        color: #000c14;
        font-weight: 800;
      }
    }

    p {
      margin-top: 1em;
      line-height: 1.6;
      font-size: medium;
    }

    // .links {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 1.8em;

    //   a {
    //     text-decoration: none;
    //     font-weight: bold;
    //   }

    //   .button {
    //     display: flex;
    //     align-items: center;
    //     border-radius: 6px;
    //     height: 3em;
    //     padding: 0.2em;
    //     text-transform: uppercase;
    //     width: 65vw;
    //     max-width: 65vw;
    //     background-color: #007acc;
    //     margin-bottom: 1em;

    //     div p {
    //       font-size: 10px;
    //     }

    //     div:nth-child(1) {
    //       width: 20%;
    //     }

    //     div:nth-child(2) {
    //       width: 80%;
    //     }

    //   }

    //   .app-store {
    //     background-color: #ccd2d3;
    //     color: #000;
    //   }
    // }

    .content-footer {
      margin: 2.5em 0;
      display: flex;
      .btn {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        height: 3em;
        padding: 0.5em;

        img {
          margin-right: 0.5em;
        }

        .upper-text {
          font-size: 10px;
        }

        p:nth-child(2) {
          margin-top: 0;
        }
      }

      .google-play {
        background: #fff;
        color: #000;
        margin-right: 1em;

        .upper-text {
          text-transform: uppercase;
        }
      }
      .google-play:hover,
      .app-store:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }

      .app-store {
        background: #007acc;
        color: #fff;
      }
    }
  }

  .stats {
    margin: 1.7em 0;
    width: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;

    p {
      font-size: small;
    }
  }
}

section.mindset {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #000c14;
  padding-top: 5em;

  div {
    margin: 1.5em 0;
  }

  .mindset-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mindset-desc {
    margin-top: 4em;
    color: #fff;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
      font-size: 1em;
      text-align: justify;
      margin: 1.5em 0;
    }

    .heading {
      margin: 1.5em 0;
      background: #00b2ea1a;
      padding: 0.7em;
      border-radius: 30px;
      width: fit-content;

      span {
        color: #0ac6ff;
      }
    }
  }

  img {
    width: 100%;
    height: 120%;
    animation: movePhone 1s alternate-reverse infinite;
  }
}

section.features {
  .feature-item {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;

    .feature-item-desc {
      display: flex;
      justify-content: center;
      align-items: center;
      .inner {
        width: 80%;
      }
    }

    .heading {
      margin: 1.2em 0;
      background: #00b2ea1a;
      padding: 0.5em;
      border-radius: 30px;
      display: flex;
      width: 12.75em;
      align-items: center;
      justify-content: center;
      span {
        font-size: 0.625em;
      }
    }

    h1 {
      margin: 1em 0;
      line-height: 1.4;
    }

    p {
      text-align: justify;
      margin-bottom: 1em;
    }

    .btn {
      margin: 1.5em 0;
      width: calc(100% - 3em);
      border-radius: 30px;
      padding: 1em 1.5em;
      text-align: center;
      background: #000c14;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .btn:hover {
      transform: translateY(-5px);
    }

    img {
      height: 80%;
      width: 80%;
    }

    .feature-item-image,
    .feature-item-desc {
      width: 100%;
    }
  }

  .feature-item-1,
  .feature-item-3 {
    .feature-item-desc {
      .heading {
        background: #f2f3f3;

        span {
          color: #666d72;
        }
      }
    }
  }

  .feature-item-1,
  .feature-item-2,
  .feature-item-3 {
    .feature-item-image {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .feature-item-1 {
    .btn {
      background: #0ac6ff;

      a {
        color: #000;
      }
    }

    .feature-item-image {
      background: #0ac6ff;
    }
  }

  .feature-item-2 {
    .feature-item-desc {
      .heading {
        background: #fcf6e7;
        span {
          color: #f8724b;
        }
      }
    }
    .feature-item-image {
      background-color: #e9c46a;
    }
  }

  .feature-item-3 {
    .feature-item-image {
      background: #dcedf1;
    }
  }
}

section.downloads {
  position: relative;

  .miniature {
    position: absolute;

    .large {
      display: none;
    }
  }

  .miniature-1 {
    top: 15%;
    left: 10%;
  }

  .miniature-2 {
    top: 12%;
    right: 20%;
  }

  .miniature-3 {
    top: 23%;
    right: 0;
  }

  .miniature-4 {
    top: 80%;
    right: 5%;
  }

  .miniature-5 {
    top: 90%;
    right: 30%;
  }

  .miniature-6 {
    top: 78%;
    left: 8%;
  }

  .miniature-7 {
    top: 35%;
    left: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34em;

    .heading {
      margin: 1.2em 0;
      background: #e7f0f8;
      padding: 0.5em;
      border-radius: 30px;
      display: flex;
      width: 4.938em;
      align-items: center;
      justify-content: center;
      span {
        font-size: 0.625em;
        color: #007acc;
        font-weight: 400;
      }
    }

    .content-desc {
      text-align: center;
      h1 {
        margin: 1em 0;
      }
    }

    .content-footer {
      margin: 1.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        text-align: justify;
      }

      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        padding: 0.5em;

        img {
          margin-right: 0.5em;
        }

        .upper-text {
          font-size: 10px;
        }
      }

      .google-play {
        background: #fff;
        color: #000;
        margin-right: 1em;

        .upper-text {
          text-transform: uppercase;
        }
      }
      .google-play:hover,
      .app-store:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }

      .app-store {
        background: #007acc;
        color: #fff;
      }
    }
  }
}

section.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .heading {
    margin: 1em 0;
  }

  form {
    margin: 1em 0;
    .input-group {
      display: flex;
      flex-direction: column;

      label {
        margin: 0.6em 0;
        color: #666d72;
      }

      .form-control {
        width: 100%;
        height: 3em;
        border-radius: 12px;
        border: 2px solid #f2f3f3;
        padding-left: 1em;
      }

      textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 7em;
      }
    }

    .phone-control {
      position: relative;

      .phone-icon {
        width: 2.25em;
        height: 2.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0ac6ff;
        border-radius: 8px;
        background: #00b2ea1a;
        position: absolute;
        top: 53%;
        right: 0;
      }
    }

    .submit-btn {
      padding: 1em 0;
      margin: 1em 0;
      background: #0ac6ff;
      border: none;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1em;
    }

    .submit-btn:hover {
      transform: translateY(-5px);
    }
  }

  .map {
    display: none;
  }
}

footer {
  background: #000c14;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .logo {
    margin-top: 1em;
    height: fit-content;
    width: fit-content;

    img {
      width: 50%;
      height: 50%;
      margin-left: -1em;
    }
  }

  .content h1,
  .content .content-footer {
    margin: 1em 0;
  }

  .content {
    margin-top: 0;

    h1 {
      font-size: 1.5em;
    }

    p .text {
      line-height: 1.875em;
      font-size: 1em;
    }

    .socials {
      margin: 1em 0;

      a {
        margin-right: 1em;
      }
    }

    .content-footer {
      margin: 2.5em 0;
      display: flex;
      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        padding: 0.5em;

        img {
          margin-right: 0.5em;
        }

        .upper-text {
          font-size: 10px;
        }
      }

      .google-play {
        background: #fff;
        color: #000;
        margin-right: 1em;

        .upper-text {
          text-transform: uppercase;
        }
      }
      .google-play:hover,
      .app-store:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }

      .app-store {
        background: #007acc;
        color: #fff;
      }
    }

    .copyrights {
      .content {
        margin: 1em 0;
      }
      .legal {
        margin: 2em 0;
        display: flex;
        justify-content: flex-start;
        a {
          text-decoration: none;
          color: inherit;
          margin-right: 1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 720px) {
  header {
    .language {
      display: inherit;
    }

    width: 90vw;

    .logo {
      width: 10%;

      img {
        width: 80%;
      }
    }

    .menu {
      position: relative;
      transform: translateX(0);
      width: fit-content;
      background: none;
      height: min-content;
      margin-top: 0;

      i {
        display: none;
      }

      ul {
        flex-direction: row;
        margin: 0;

        li {
          &:hover {
            background: #0000002a;
          }
          a {
            color: #000;
            text-transform: initial;
            text-align: center;
          }
        }
      }
    }

    .hamburger,
    .notifs {
      display: none;
    }

    .language {
      select {
        padding: 1em;
        border-radius: 8px;
        background: #f2f3f3;
        border: none;
      }
    }
  }

  section.hero {
    position: relative;
    .content {
      margin-top: 25em;
      flex-direction: row;
      justify-content: space-evenly;

      .hero-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        min-height: 35em;
        // padding-left: 20em;
        margin-top: -15em;
      }

      .hero-img {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }

      img {
        width: 100%;
        height: 100%;
      }

      // .links {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-top: 1.8em;

      //   a {
      //     text-decoration: none;
      //     font-weight: bold;
      //   }

      //   .button {
      //     display: flex;
      //     align-items: center;
      //     border-radius: 6px;
      //     height: 3em;
      //     padding: 0.2em;
      //     text-transform: uppercase;
      //     width: 10vw;
      //     max-width: 10vw;
      //     background-color: #007acc;
      //     margin-right: 1em;

      //     div p {
      //       font-size: 10px;
      //     }

      //     div:nth-child(1) {
      //       width: 20%;

      //       img {
      //         width: 50%;
      //       }
      //     }

      //     div:nth-child(2) {
      //       width: 80%;
      //     }
      //   }
      // }

      .content-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          align-items: center;
        }
      }
    }

    .stats {
      position: absolute;
      top: 75%;
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;

      div {
        margin: 2em;

        h4 {
          font-size: 1.75em;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  section.mindset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    background: #000c14;

    div {
      margin: 1.5em 0;
    }

    // .image-container {
    //   max-width: 100%;
    //   height: auto;
    // }

    // .responsive-image {
    //   display: block;
    //   max-width: 100%;
    //   height: auto;
    // }

    .mindset-desc {
      width: 60%;
      margin-left: 2em;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 40em;
    }
  }

  section.features {
    .feature-item {
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0;
      margin: 0;
      width: 100%;

      .feature-item-desc,
      .feature-item-image {
        height: 40em;
      }

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1em;
      }

      .btn {
        width: 80%;
      }

      .feature-item-desc,
      .feature-item-image {
        width: 50%;
      }

      .feature-item-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
          width: 80%;
        }
      }
    }

    .feature-item-1,
    .feature-item-2,
    .feature-item-3 {
      .feature-item-image {
        img {
          height: 70%;
          width: auto;
          object-fit: initial;
        }
      }
    }

    .feature-item-2 {
      flex-direction: row-reverse;
      .feature-item-image {
        background-color: #e9c46a;
      }
    }
  }

  section.downloads {
    position: relative;
    margin-bottom: 2em;

    .miniature {
      position: absolute;

      .large {
        display: flex;
        width: 70%;
      }

      .small {
        display: none;
      }
    }

    .miniature-1-1 {
      top: 15%;
      left: 10%;
    }

    .miniature-2-1 {
      top: 12%;
      right: 20%;
    }

    .miniature-3-1 {
      top: 23%;
      right: 0;
    }

    .miniature-4-1 {
      top: 80%;
      right: 5%;
    }

    .miniature-5-1 {
      top: 90%;
      right: 30%;
    }

    .miniature-6-1 {
      top: 78%;
      left: 8%;
    }

    .miniature-7-1 {
      top: 35%;
      left: 0;
    }

    .content {
      .content-desc {
        h1 {
          font-size: 2em;
        }
      }
    }
  }

  section.form {
    display: flex;
    flex-wrap: nowrap;
    max-height: 45em;

    form {
      margin: 1em 0;
      height: 100%;
    }

    .map {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;

      img {
        width: 80%;
        height: 90%;
      }
    }
  }

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      margin-top: 1em;
      display: flex;
      justify-content: center;

      img {
        width: 10%;
        // height: 20%;
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .content-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          align-items: center;
        }
      }

      .copyrights {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;

        .content {
          margin: 0;
          width: 20%;
        }
        .legal {
          width: 80%;
          margin: 0;
          display: flex;
          justify-content: flex-end;
          a {
            text-decoration: none;
            color: inherit;
            margin-right: 1em;
          }
        }
      }
    }
  }
}

@keyframes movePhone {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 768px) and (max-width: 825px) {
  section.features {
    .feature-item-1,
    .feature-item-2,
    .feature-item-3 {
      .feature-item-image {
        img {
          width: 90%;
          height: 50%;
        }
      }
    }
  }
}
