<section class="hero custom-wrapper">
  <div class="content">
    <div class="hero-desc">
      <h1>
        Lorem ipsum dolor sit amet consectetur.
        <span class="blue">Duis facilisis porta pulvinar</span>
        <span class="bold-black">viverra.</span>
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Proin tortor tincidunt leo
        tincidunt velit. Pretium aenean imperdiet tristique vel eget. Massa sem
        pharetra facilisis aliquam feugiat tortor tempus lacus.
      </p>
      <div class="links">
        <div class="btn-1">
          <a href="">Get started now </a>
        </div>
        <div class="btn-2">
          <a href=""
            ><img src="/images/android.png" alt="android" />&nbsp;Download for
            android
          </a>
        </div>
        <a href=""></a>
      </div>
    </div>
    <div class="hero-img">
      <img src="/images/hero-image.png" alt="Hero image" />
    </div>
  </div>
  <div class="stats">
    <div>
      <h4>7800+</h4>
      <p>Downloads</p>
    </div>
    <div>
      <h4>500k+</h4>
      <p>Users</p>
    </div>
    <div>
      <h4>65k+</h4>
      <p>Ads</p>
    </div>
  </div>
</section>

<section class="mindset custom-wrapper">
  <div class="mindset-desc">
    <div class="heading">
      <span>We care, that's our mindset.</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur. Blandit adipiscing mauris augue
      nec dictumst urna.
    </p>
  </div>
  <div class="mindset-image">
    <img src="/images/mindset.png" alt="mindset-image" />
  </div>
</section>

<section class="features">
  <div class="feature-item feature-item-1">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>Designed for everyone who needs</span>
        </div>
        <h1>Control and manage your basic overview at the same time.</h1>
        <p>
          Organize your stores, cashiers and employees, centralize your
          transactions and their history, monitor all your transactions. You
          have access to the operations of your organization: follow your
          accounts, manage payments with your suppliers and customers, transfer
          funds.
        </p>
        <div class="btn">
          <a href="">Get started</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-1.png" alt="feature-1" />
    </div>
  </div>
  <div class="feature-item feature-item-2 reversed">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>You have an online business</span>
        </div>
        <h1>
          Collect your payments, via our API or by sending a payment link.
        </h1>
        <p>
          Whether you sell your own brand of clothing online or have created
          your own e-commerce site, regardless of the industry you can collect
          payments via API integration or simply by sending a payment link.
        </p>
        <div class="btn">
          <a href="">Get started</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-2.png" alt="feature-1" />
    </div>
  </div>
  <div class="feature-item feature-item-3">
    <div class="feature-item-desc">
      <div class="inner">
        <div class="heading">
          <span>You have a network of sales outlets</span>
        </div>
        <h1>Track all your operations in real time.</h1>
        <p>
          The objective is to simplify all transactions between your suppliers,
          your resellers and your end customers, whether you have a distribution
          network ranging from the sale of consumer products, to pharmacies,
          industrial products, services.
        </p>
        <div class="btn">
          <a href="">Get started</a>
        </div>
      </div>
    </div>
    <div class="feature-item-image">
      <img src="/images/feature-1.png" alt="feature-1" />
    </div>
  </div>
</section>

<section class="downloads">
  <div class="miniature miniature-1">
    <img class="small" src="/images/miniature-1.png" alt="" />
    <img class="large" src="/images/miniature-1-1.png" alt="" />
  </div>
  <div class="miniature miniature-2">
    <img class="small" src="/images/miniature-2.png" alt="" />
    <img class="large" src="/images/miniature-2-1.png" alt="" />
  </div>
  <div class="miniature miniature-3">
    <img class="small" src="/images/miniature-3.png" alt="" />
    <img class="large" src="/images/miniature-3-1.png" alt="" />
  </div>
  <div class="miniature miniature-4">
    <img class="small" src="/images/miniature-4.png" alt="" />
    <img class="large" src="/images/miniature-4-1.png" alt="" />
  </div>
  <div class="miniature miniature-5">
    <img class="small" src="/images/miniature-5.png" alt="" />
    <img class="large" src="/images/miniature-5-1.png" alt="" />
  </div>
  <div class="miniature miniature-6">
    <img class="small" src="/images/miniature-6.png" alt="" />
    <img class="large" src="/images/miniature-6-1.png" alt="" />
  </div>
  <div class="miniature miniature-7">
    <img class="small" src="/images/miniature-7.png" alt="" />
    <img class="large" src="/images/miniature-7-1.png" alt="" />
  </div>
  <div class="content custom-wrapper">
    <div class="heading">
      <span>And you?</span>
    </div>
    <div class="content-desc">
      <h1>What business are you in?</h1>
      <p>
        Whatever the nature of your activity, we bring you a solution adapted to
        the specificities of your market.
      </p>
    </div>
    <div class="content-footer">
      <div class="btn google-play">
        <div>
          <img src="/images/google-play.png" alt="Google Play" />
        </div>
        <div>
          <p class="upper-text">Get it on</p>
          <p class="lower-text">Google Play</p>
        </div>
      </div>
      <div class="btn app-store">
        <div>
          <img src="/images/app-store.png" alt="App Store" />
        </div>
        <div>
          <p class="upper-text">Download on the</p>
          <p class="lower-text">App Store</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form">
  <div class="form-content custom-wrapper">
    <div class="heading">
      <h1>Let’s level up your brand, together</h1>
    </div>
    <div>
      <form action="">
        <div class="input-group">
          <label for="">First name</label>
          <input type="text" placeholder="" class="form-control" />
        </div>
        <div class="input-group">
          <label for="">Last name</label>
          <input type="text" placeholder="" class="form-control" />
        </div>
        <div class="input-group">
          <label for="">Email</label>
          <input type="email" placeholder="" class="form-control" />
        </div>
        <div class="input-group phone-control">
          <label for="">Phone</label>
          <input type="tel" placeholder="" class="form-control" />
          <div class="phone-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="">Message</label>
          <textarea placeholder="" class="form-control" cols="20"></textarea>
        </div>
        <div class="input-group">
          <input type="submit" value="Get started" class="submit-btn" />
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <img src="/images/map.png" alt="" />
  </div>
</section>
